<app-employeenav></app-employeenav>
<!-- <navbar-component></navbar-component> -->



<div class="projects-container">
    <h1> All Projects</h1>
    <table>
        <thead>
            <th>S.No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
        </thead>
        <tbody>
            <!-- <div *ngIf="x>0"> -->
                <tr *ngFor="let project of projects;let i =index">
		    <td>{{i+1}}</td>
                    <td>{{project.projectTitle}}</td>
                    <td>{{project.projectDescription}}</td>
                    <td>{{project.startDate}}</td>
                    <td>{{project.endDate}}</td>
                </tr>
            <!-- </div> -->
            <!-- <div *ngIf="x===0">
                <tr>Oops! No Records Found</tr>
            </div> -->
        </tbody>
    </table>
</div>