<app-navbar></app-navbar>
<div class="content">
    <svg viewBox="0 0 960 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="50%">Something Went Wrong</text>
        </symbol>
    
        <g class = "g-ants">
            <use xlink:href="#s-text" class="text"></use>
            <use xlink:href="#s-text" class="text"></use>
            <use xlink:href="#s-text" class="text"></use>
            <use xlink:href="#s-text" class="text"></use>
            <use xlink:href="#s-text" class="text"></use>
        </g>
    </svg>
<h1>We're sorry, but an error occured. Please try again later.</h1>
<a routerLink="/home">Back to Home</a>
</div>